<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://www.googletagmanager.com">
<link rel="dns-prefetch" href="//www.google-analytics.com">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=JetBrains+Mono:wght@400;500;600&display=swap" rel="stylesheet">


<script>
    (function() {
        window.dataLayer = window.dataLayer || [];
        window.gtag = window.gtag || function gtag(){dataLayer.push(arguments);}

        if(localStorage.getItem('consentMode') === null){
            gtag('consent', 'default', {
                'ad_storage': 'denied',
                'ad_user_data': 'denied',
                'ad_personalization': 'denied',
                'analytics_storage': 'denied',
                'functionality_storage': 'denied',
                'personalization_storage': 'denied',
                'security_storage': 'denied',
            });
        } else {
            gtag('consent', 'default', JSON.parse(localStorage.getItem('consentMode')));
        }

        function loadScript(src) {
            var script = document.createElement('script');
            script.async = true;
            script.src = src;
            document.head.appendChild(script);
        }

        function loadGoogleTagManager(w,d,s,l,i) {
            w[l]=w[l]||[];
            w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});
            var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),
                dl=l!='dataLayer'?'&l='+l:'';
            j.async=true;
            j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;
            f.parentNode.insertBefore(j,f);
        }

        function loadAnalytics() {
            if (loadAnalytics.loaded) {
                return;
            }
            loadAnalytics.loaded = true;

            loadScript('https://www.googletagmanager.com/gtag/js?id=G-NJLJ97K6Q9');
            gtag('js', new Date());
            // gtag('config', 'G-NJLJ97K6Q9');
            gtag('config', 'GTM-5MZ732X7');
            loadGoogleTagManager(window,document,'script','dataLayer','GTM-5MZ732X7');
        }

        function scheduleAnalytics() {
            setTimeout(function() {
                if ('requestIdleCallback' in window) {
                    requestIdleCallback(loadAnalytics, { timeout: 4000 });
                } else {
                    loadAnalytics();
                }
            }, 30000);
        }

        window.addEventListener('pointerdown', loadAnalytics, { once: true, passive: true });
        window.addEventListener('keydown', loadAnalytics, { once: true });

        if (document.readyState === 'complete') {
            scheduleAnalytics();
        } else {
            window.addEventListener('load', scheduleAnalytics, { once: true });
        }
    })();
</script>
