<!-- layouts/shortcodes/fizzbee.html -->
{{ $id := printf "fizzbee-%d" .Ordinal }}
{{ $playURL := "/play" | relURL }}
{{ $targetURL := printf "%s#embed-%s" $playURL $id }}
{{ $content := trim .Inner "\r\n" }}
<div style="text-align: left">
<a href="{{ $targetURL }}" onclick="return fizzbeeOpenPlayground(event, '{{ $id }}', {{ $content | jsonify | safeJS }}, {{ $targetURL | jsonify | safeJS }});">Run in playground</a>
{{ printf "%s%s%s" "{{< highlight Shell \"linenos=python\" >}}" .Inner  "{{< /highlight >}}" | markdownify }}
</div>
{{ with .Site.BaseURL }}<script>window.baseURL = '{{ . }}';</script>{{ end }}
