<!-- layouts/shortcodes/mermaid.html -->
{{ if not (.Page.Scratch.Get "import_mermaid_js") }}
  {{ .Page.Scratch.Set "import_mermaid_js" true }}
<script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>

<script>
  function RenderMermaid(id, content) {
    const mermaidContainer = document.getElementById(id);
    console.log("Mermaid container: ", mermaidContainer);
    console.log("Rendering Mermaid content: ", id,  content);

    // Render the Mermaid chart
    mermaidContainer.innerHTML = `<div class="mermaid">${content}</div>`;
  }
</script>
{{ end }}

{{ $id := substr (md5 .Inner) 0 16 }}
<div id="{{ $id }}" style="text-align: center"></div>

<script>
  RenderMermaid("{{ $id }}", `{{ .Inner | safeJS }}`);
</script>
